<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer un nouveau équipement</h2>
      <form [formGroup]="equipementForm" (ngSubmit)="onSaveEquipement()">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
          </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <div class="form-group">
          <label for="type">Type :</label>
          <input type="text" class="form-control" id="type" formControlName="type">
        </div>
        <div class="form-group">
          <mat-form-field>
              <mat-label>Site</mat-label>
                  <mat-select id="site" formControlName="site">
                      <mat-option *ngFor="let site of sites" [value]="site.nom">{{site.nom}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>        
      <div class="form-group">
          <mat-form-field>
              <mat-label>Secteur</mat-label>
                  <mat-select id="secteur" formControlName="secteur">
                      <mat-option *ngFor="let secteur of secteurs" [value]="secteur.nom">{{secteur.nom}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
        <div class="form-group">
          <label for="zone">Zone :</label>
          <input type="text" class="form-control" id="zone" formControlName="zone">
        </div>
        <div class="form-group">
          <label for="flux">Flux :</label>
          <input type="text" class="form-control" id="flux" formControlName="flux">
        </div>
        <button class="btn btn-success" [disabled]="equipementForm.invalid" type="submit">Enregistrer</button>
      </form>
    </div>
  </div>
  