<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="row">
  <div class="col-xs-12">
    <div class="col-xs-12">
        <h2>Liste des équipements</h2>
        <button class="btn btn-primary pull-right" (click)="onCreateNewEquipement()">Nouveau équipement</button>

        <h4>Site</h4>
        <mat-form-field>
            <mat-label>Site</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
 
    
    <p class="text-center" *ngIf="dataSource.length <= 0 && !loading">Pas d'équipement en BDD !!!</p>
    
    <div class="col-xs-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0">  
      
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> nom </th>
              <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="site">
              <th mat-header-cell *matHeaderCellDef> Site </th>
              <td mat-cell *matCellDef="let element"> {{element.site}} </td>
            </ng-container>
            <ng-container matColumnDef="secteur">
              <th mat-header-cell *matHeaderCellDef> Secteur </th>
              <td mat-cell *matCellDef="let element"> {{element.secteur}} </td>
            </ng-container>
            <ng-container matColumnDef="zone">
              <th mat-header-cell *matHeaderCellDef> Zone </th>
              <td mat-cell *matCellDef="let element"> {{element.zone}} </td>  
            </ng-container>      
            <ng-container matColumnDef="flux">
              <th mat-header-cell *matHeaderCellDef> Flux </th>
              <td mat-cell *matCellDef="let element"> {{element.flux}} </td>  
            </ng-container>
          
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button matTooltip="Modifier" class="iconbutton" color="primary" (click)="onViewEquipement(element)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Supprimer" class="iconbutton" color="warn" (click)="onDeleteEquipement(element)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
  </div>
</div>


